name: "构建syncthing"
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: 构建syncthing
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: Build and publish image
        uses: ilteoood/docker_buildx@master
        with:
          publish: true
          imageName: nevinee/syncthing
          dockerFile: syncthing/Dockerfile
          platform: linux/amd64,linux/arm64/v8,linux/arm/v7
          tag: latest,v1.16.1
          dockerUser: ${{ secrets.DOCKER_USERNAME }}
          dockerPassword: ${{ secrets.DOCKER_PASSWORD }}