name: "构建Tnanko_Scripts"
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: 构建Tnanko_Scripts
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: Build and publish image
        uses: ilteoood/docker_buildx@master
        with:
          publish: true
          imageName: nevinee/tnanko_scripts
          dockerFile: tnanko_scripts/Dockerfile
          platform: linux/386,linux/amd64,linux/arm64/v8,linux/arm/v7
          tag: latest
          dockerUser: ${{ secrets.DOCKER_USERNAME }}
          dockerPassword: ${{ secrets.DOCKER_PASSWORD }}